name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build-example-kv:
    strategy:
      matrix:
        go-version: ['1.21', '1.22', '1.23', '1.24']
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Download dependencies
      run: go mod download

    - name: Build
      run: |
        cd example/memory_kv/
        go build -o server

